<div class="jumbotron">
  <div style="margin: 15px">
    <h2>Add some data for your new project:</h2>
    <div class="form-group">
      <label class="col-form-label col-form-label-lg" for="inputLarge">Please insert a name:</label>
      <input class="form-control form-control-lg" type="text" id="inputLarge">
    </div>

    <div class="form-group">
      <label for="exampleTextarea">Please insert a description:</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>

    <div class="form-group">
      <label for="exampleTextarea">Please insert a your plan:</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>

    <div class="form-group">
      <select class="custom-select">
        <option selected="">Please insert a category:</option>
        <option value="1">Module</option>
        <option value="2">Tool</option>
        <option value="3">Material</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleSelect2">What modules do you depend on:</label>
      <select multiple="" class="form-control" id="exampleSelect2">
        <option>Hammer</option>
        <option>Wheel</option>
        <option>Gearbox</option>
        <option>Screw</option>
        <option>Screwdriver</option>
      </select>
    </div>

    <h3>Uplaod a image:</h3>
    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
      <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above
        input. It's a bit lighter and easily wraps to a new line.
      </small>
    </div>

    <button class="btn btn-link btn-lg" style="margin-left: 900px">
      <a href="/" class="btn btn-primary btn-lg">
        <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> Save
      </a>
    </button>
  </div>


</div>
