<div class="row">
  <div class="col-1"></div>
  <div class="input-group col-9">
    <input class="form-control py-2" type="search" value="search" id="example-search-input">
    <span class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">
            <i class="fas fa-search"></i>
        </button>
      </span>
  </div>
  <div class="col-2">
    <button class="btn btn-success btn-lg" (click)="createNewModule()">New</button>
  </div>
</div>
<div class="container-fluid mt-4">
  <div class="row justify-content-center">
    <div class="col-auto mb-3">
      <div class="card" style="width: 18rem;">
        <div class="card-header">Rating: {{modules[0].rating}}/5</div>
        <img class="card-img-top" src={{modules[0].image}} width="70%" alt={{modules[0].name}}>
        <div class="card-body">
          <h5 class="card-title">{{modules[0].name}}</h5>
          <p class="card-text">{{modules[0].description}}</p>
          <a href="#" class="btn btn-primary">View Module</a>
        </div>
      </div>
    </div>
    <div class="col-auto mb-3">
      <div class="card" style="width: 18rem;">
        <div class="card-header">Rating: {{modules[1].rating}}/5</div>
        <img class="card-img-top" src={{modules[1].image}} width="70%" alt={{modules[1].name}}>
        <div class="card-body">
          <h5 class="card-title">{{modules[1].name}}</h5>
          <p class="card-text">{{modules[1].description}}</p>
          <a href="#" class="btn btn-primary">View Module</a>
        </div>
      </div>
    </div>
    <div class="col-auto mb-3">
      <div class="card" style="width: 18rem;">
        <div class="card-header">Rating: {{modules[2].rating}}/5</div>
        <img class="card-img-top" src={{modules[2].image}} alt={{modules[2].name}}>
        <div class="card-body">
          <h5 class="card-title">{{modules[2].name}}</h5>
          <p class="card-text">{{modules[2].description}}</p>
          <a href="#" class="btn btn-primary">View Module</a>
        </div>
      </div>
    </div>
    <div class="col-auto mb-3">
      <div class="card" style="width: 18rem;">
        <div class="card-header">Rating: {{modules[3].rating}}/5</div>
        <img class="card-img-top" src={{modules[3].image}} alt={{modules[3].name}}>
        <div class="card-body">
          <h5 class="card-title">{{modules[3].name}}</h5>
          <p class="card-text">{{modules[3].description}}</p>
          <a href="#" class="btn btn-primary">View Module</a>
        </div>
      </div>
    </div>
    <div class="col-auto mb-3">
      <div class="card" style="width: 18rem;">
        <div class="card-header">Rating: {{modules[0].rating}}/5</div>
        <img class="card-img-top" src={{modules[4].image}} alt={{modules[4].name}}>
        <div class="card-body">
          <h5 class="card-title">{{modules[4].name}}</h5>
          <p class="card-text">{{modules[4].description}}</p>
          <a href="#" class="btn btn-primary">View Module</a>
        </div>
      </div>
    </div>
    <div class="col-auto mb-3">
      <div class="card" style="width: 18rem;">
        <div class="card-header">Rating: {{modules[0].rating}}/5</div>
        <img class="card-img-top" src={{modules[5].image}} alt={{modules[5].name}}>
        <div class="card-body">
          <h5 class="card-title">{{modules[5].name}}</h5>
          <p class="card-text">{{modules[5].description}}</p>
          <a href="#" class="btn btn-primary">View Module</a>
        </div>
      </div>
    </div>
  </div>
</div>
