<div class="row">
  <div class="col-3">
    <img src="../../../assets/osecology.png">
  </div>
  <div class="col-9">
    <h3>Looking for amazing Open Source Hardware? You are at the right place!</h3>
    <br>
    <ul>
      <li>Find a like-minded team</li>
      <li>Search for existing hardware with users' reviews</li>
      <li>Present your amazing project</li>
      <li>Get feedback</li>
      <li>Enjoy!</li>
    </ul>
    <p>
      <a href="#search"> Get Started </a> with looking on the newest projects.
    </p>
  </div>
</div>
