<div class="jumbotron">
  <div class="row">
    <h1 class="display-2">{{selectedModule.name}}</h1>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="card">
        <img style="height: 200px; width: 100%; display: block;"
             src={{selectedModule.image}}
             alt="Card image">
        <div class="card-body">
          <a href="#" class="card-link">
            <img src="../../assets/youtube.png">
          </a>
          <a href="#" class="card-link">
            <img src="../../assets/facebook.png">
          </a>
          <a href="#" class="card-link">
            <img src="../../assets/twitter.png">
          </a>
        </div>
        <div class="card-footer text-muted">last updated : 09.08.2018
        </div>
      </div>
    </div>
    <div class="col-8">
      <p class="lead">{{selectedModule.description}}</p>
    </div>
  </div>

  <div class="row" style="padding-top: 15px">

    <div class="col-4">
      <ul class="list-group modul-list">
        <li class="list-group-item d-flex justify-content-between align-items-center active">
          Modules
        </li>
        <a *ngFor="let module of componentsFromSelected"
           (click)="selectModule(module)" href="/module/{{selectedModule._id}}"
           class="list-group-item list-group-item-action">{{module.name}}</a>
      </ul>
    </div>

    <div class="col-4">
      <ul class="list-group modul-list">
        <li class="list-group-item d-flex justify-content-between align-items-center active">
          Tools
        </li>
        <a *ngFor="let module of toolsFromSelected"
           (click)="selectModule(module)" href="/module/{{module._id}}"
           class="list-group-item list-group-item-action">{{module.name}}</a>
      </ul>
    </div>

    <div class="col-4">
      <ul class="list-group modul-list">
        <li class="list-group-item d-flex justify-content-between align-items-center active">
          Materials
        </li>
        <a *ngFor="let module of materialsFromSelected"
           (click)="selectModule(module)" href="/module/{{module._id}}"
           class="list-group-item list-group-item-action">{{module.name}}</a>
      </ul>
    </div>

  </div>

  <div class="row" style="padding-right: 15px">

    <!-- List group -->
    <ul class="list-group step-list col-12">
      <li class="list-group-item active">Assembling plan:
      </li>


      <li *ngFor="let step of selectedModule.plan.steps" class="list-group-item">
        <div class="panel">
          <div class="panel-heading">{{step.index}}</div>
          <hr class="my-2">
          <div class="panel-body">
            <p>{{step.text}}</p>
          </div>
        </div>
      </li>
    </ul>

  </div>

  <h3>Build history:</h3>
  <div class="row">
    <div *ngFor="let comment of selectedModule.comments" class="col-4" style="padding-bottom: 5px">
      <div class="card">
        <h3 class="card-header">{{comment.author}}</h3>
        <img style="height: 200px; width: 100%; display: block;"
             src={{comment.image}}
             alt="Card image">
        <div class="card-body">
          <p class="card-text">{{comment.text}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Type of project: {{comment.typeOfProject}}</li>
          <li class="list-group-item">Finished on: {{comment.finishedOn}}</li>
          <li class="list-group-item">Experience: {{comment.experience}}/5</li>
          <li class="list-group-item">Difficulty: {{comment.difficulty}}/5</li>
          <li class="list-group-item">Cost: {{comment.cost}}€</li>
        </ul>
      </div>
    </div>
  </div>


</div>
